NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

# ------------------------------------------------------------------------------
# 2. Database Configuration (MongoDB Atlas)
# ------------------------------------------------------------------------------
# Format: mongodb+srv://<db_user>:<db_password>@<cluster_address>/<database_name>?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://societyadmin:societyadmin@furniturecluster.qtrgopo.mongodb.net/?appName=FurnitureCluster

# ------------------------------------------------------------------------------
# 3. Authentication & Security (JWT)
# ------------------------------------------------------------------------------
# Min 32-character random secret key
JWT_SECRET=19cbefd08729471fd766600bb18d7909540ae0bdaed28751d929b4ad50ff5aa9
JWT_EXPIRES_IN=7d

# ------------------------------------------------------------------------------
# 4. Cloud Media Management (Cloudinary)
# ------------------------------------------------------------------------------
CLOUDINARY_CLOUD_NAME=dhftpumq5
CLOUDINARY_API_KEY=478511166845784
CLOUDINARY_API_SECRET=cDGAhqtXMUEzZNSh05hp7yfUBto

# ------------------------------------------------------------------------------
# 5. Email Notifications (Gmail SMTP)
# ------------------------------------------------------------------------------
EMAIL_USER=waqasdreamsnw@gmail.com
EMAIL_PASS=lavibnbdkbtmexvq

